USE [master]
GO
/****** Object:  Database [NhaCungCap]    Script Date: 3/20/2023 12:00:52 AM ******/
CREATE DATABASE [NhaCungCap]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhaCungCap', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NhaCungCap.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NhaCungCap_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NhaCungCap_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhaCungCap].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhaCungCap]
GO
/****** Object:  Table [dbo].[nhacungcap]    Script Date: 3/20/2023 12:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhacungcap](
	[mancc] [nchar](10) NULL,
	[tennhacc] [nvarchar](50) NULL,
	[diachi] [nvarchar](max) NULL,
	[sodienthoai] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
